**Arithmetic Operators**

In [6]:
x = 9
y = 13

# arithmetic operators demo
print(x + y)
print(x - y)
print(x * y)
print(x / y)

# floor division
print(y//x)

# Modulus
print(y%x)
print(27%4)

# Power
print(2**3)
print(7**2)

22
-4
117
0.6923076923076923
1
4
3
8
49

**Relational Operators**

In [10]:
a = 5
print( a == 3)
print(a == 5)

print()
password = 'liverpool'
print(password == 'chelsea')

print()
x = 10
print(x>15)
print(x<15)
print(x<=10)
print(x>=15)
print(x!=7)

False
True

False

False
True
True
False
True

**Assignment Operators**

In [16]:
x=9
x+=3   # x=x+3
x-=2
x*=5
x/=2
x//=5
x%=2

print(x)

1.0

**Logical Operators**

In [22]:
print(10>5)
print(7<5)

print()
print(10>5 and 1<5)     # True + True = True
print(10>5 and 7<5)     # True + Flase = Flase

print(10>5 or 10<4)     # True + Flase = True
print(10>7 or 10>5)     # True + True  = True
print(10>15 or 15<5)    # Flase + Flase = Flase

True
False

True
False
True
True
False

**Membership operators**

In [29]:
print('j' in 'jos')
print('k' not in 'kite')

lst =['jos','max','mike','will','eleven','nancy']
print('max' in lst)

True
False
True


**Ternary Operator**   (value_if_true if condition else value_if_false)

In [33]:
# Using If-else
marks = 35
if(marks >=35):
  print('pass')
else:
  print('fail')

print()
# Using Ternary
marks = 25
result = 'pass' if marks>=35 else 'fail'
print(result)

pass

fail

In [38]:
# Ternary Example1
is_login = False
message = 'Welcome Back!' if is_login else 'Please login'
print(message)

Please login

In [ ]:
# Ternary Example2
num = int(input('Enter a number '))
abs = num if num>0 else -num
print(abs)

Enter a number -99
99

In [46]:
# Ternary Example3
no = int(input('Enter a Number '))
num_even_or_odd = 'Even' if no%2==0 else 'Odd'
print(f'number is {num_even_or_odd}')

Enter a Number 9
number is Odd