In [1]:
for i in range(5):
  print(i)

0
1
2
3
4

In [2]:
for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

In [5]:
for i in range(1,6):
  print(f'welcome to python code {i}')

welcome to python code 1
welcome to python code 2
welcome to python code 3
welcome to python code 4
welcome to python code 5

In [7]:
for i in range(25,50,3):   # skip => 3
  print(i)

25
28
31
34
37
40
43
46
49

In [8]:
for ch in 'Python':
  print(ch)

P
y
t
h
o
n

In [9]:
names=['joe root','jos buttler','pat cummins','mohammed salah','steve smith']

for nm in names:
  print(nm)

joe root
jos buttler
pat cummins
mohammed salah
steve smith

In [10]:
n = int(input('Enter a nmber '))

for i in range(1,11):
  print(f'{n} x {i} = {n*i}')

Enter a nmber 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [13]:
for i in range(1,10):
  if i == 6:
    break;   # stop no
  print(i)

1
2
3
4
5

In [14]:
for i in range(1,6):
  if i == 4:
    continue     # skip the no
  print(i)

1
2
3
5