## Python List â€“

1. Ordered collection (maintains insertion order)

2. Allows duplicate values

3. Mutable (can be modified after creation)

4. Supports indexing (position-based access)

5. Supports negative indexing

6. Allows multiple data types in one list

7. Dynamic size (can grow or shrink)

8. Supports nested lists (list inside a list)

9. Not sorted by default

10. Supports slicing (can access a range of elements)

### ***Add elements***
1. list.append(x)        
2. list.extend(iter)      
3. list.insert(i, x)      

### ***Remove elements***
1. list.remove(x)            
2. list.pop(i)                 
3. list.pop()                 
4. list.clear()             

### ***search/Count***
1. list.index(x)       
2. list.count(x)    

### ***Sorting/Reverse***
1. list.sort()         # ascending sort
2. list.sort(reverse=True)  # descending
3. list.reverse()

In [2]:
n = [9,23,4,78,12,45]
print(n)
print(type(n))

[9, 23, 4, 78, 12, 45]
<class 'list'>

In [3]:
n.append(18)
print(n)

[9, 23, 4, 78, 12, 45, 18]

In [4]:
nm = []
print(type(nm))
nm.append("java")
nm.append('python')
nm.append("aws")
nm.append("spring")
print(nm)

<class 'list'>
['java', 'python', 'aws', 'spring']

In [5]:
nm.insert(2,"MYSQL")
print(nm)

['java', 'python', 'MYSQL', 'aws', 'spring']

In [11]:
nm.remove("python")
print(nm)

['java', 'MYSQL', 'aws', 'spring']

In [13]:
cloud = ['azure','aws','gcp']
nm.extend(cloud)
print(nm)

['java', 'MYSQL', 'aws', 'spring', 'azure', 'aws', 'gcp']

In [15]:
print(nm[3])
print(nm)

spring
['java', 'MYSQL', 'aws', 'spring', 'azure', 'aws', 'gcp']

In [16]:
# retrive and remove last element from list
print(nm.pop())

gcp

In [22]:
nm.append('java')
print(nm)

nm.pop(1)   # remove element aws at index - 0
print(nm)

['MYSQL', 'aws', 'spring', 'azure', 'aws', 'java', 'java']
['MYSQL', 'spring', 'azure', 'aws', 'java', 'java']

In [28]:
nm.sort()                         # sort
print(nm)

['MYSQL', 'aws', 'azure', 'java', 'spring']

In [29]:
nm.sort(reverse=True)             # reverse sort
print(nm)

['spring', 'java', 'azure', 'aws', 'MYSQL']

In [30]:
comp=['microsoft','volkswagen','samsung','dell','hp']
comp.reverse()
print(comp)

['hp', 'dell', 'samsung', 'volkswagen', 'microsoft']

In [32]:
for cnm in comp:
  print(cnm.capitalize())

Hp
Dell
Samsung
Volkswagen
Microsoft

In [33]:
for cnm in comp:
  print(cnm.upper())

HP
DELL
SAMSUNG
VOLKSWAGEN
MICROSOFT

In [36]:
lst=[9,'jon',13.26,True]
print(lst)

for item in lst:
  print(type(item))

[9, 'jon', 13.26, True]
<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>