In [1]:
lst=[3,12,45,9,15,26,13]
sq=[]

for n in lst:
  sq.append(n*n)

print(sq)

[9, 144, 2025, 81, 225, 676, 169]

In [2]:
lst = [2,4,5,6,7,8]
cubes = [n**2 for n in lst]
print(cubes)

[4, 16, 25, 36, 49, 64]

In [4]:
num = [1,2,3,4,5,6,7,8,9,12,1,3,14,15,16,17,18,19,20]

even = [n for n in num if n%2==0]
print(even)

[2, 4, 6, 8, 12, 14, 16, 18, 20]

In [5]:
odd = [n for n in num if n%2==1]
print(odd)

[1, 3, 5, 7, 9, 1, 3, 15, 17, 19]

In [6]:
nms = ['will','lucus','max','11','stevth','mike']
u = [nm.upper() for nm in nms]
print(u)

['WILL', 'LUCUS', 'MAX', '11', 'STEVTH', 'MIKE']

In [7]:
cap = [nm.capitalize() for nm in nms]
print(cap)

['Will', 'Lucus', 'Max', '11', 'Stevth', 'Mike']

In [8]:
no = [1,5,6,3,0,-9,-6,-4]
neg = [x for x in no if x<0]
print(neg)

[-9, -6, -4]

In [11]:
l1=[3,14,26,55]
l2=[1,5,26,14]
common = [x for x in l1 if x in l2]
print(common)

[14, 26]