In [4]:
# Tuples

empty = ()
print(type(empty))

<class 'tuple'>

In [7]:
co_ord = (10,20)
print(type(co_ord))

<class 'tuple'>

In [9]:
# single tuple
tup = (2,)            # single tuple create like this
print(type(tup))

<class 'tuple'>

In [11]:
mixed=(9,'mike',68.14,True)
print(mixed)
print(type(mixed))

(9, 'mike', 68.14, True)
<class 'tuple'>

In [13]:
nested=((1,2),(3,4))
print(nested)
print(type(nested))

((1, 2), (3, 4))
<class 'tuple'>

In [20]:
t = (45,'Rohit',['opener','Mumbai Indians'],'India')
print(t)

print(type(t))
t[2].append('pull shot')

print(t)
t.append('Mumbai ch Raja')    # Tuple → immutable → append not allowed

(45, 'Rohit', ['opener', 'Mumbai Indians'], 'India')
<class 'tuple'>
(45, 'Rohit', ['opener', 'Mumbai Indians', 'pull shot'], 'India')

AttributeError: 'tuple' object has no attribute 'append'

List → mutable → append allowed

Tuple → immutable → append not allowed

In [19]:
lst = [1,2,3]
print(lst)

lst.append(4)      # List → mutable → append allowed
print(lst)

[1, 2, 3]
[1, 2, 3, 4]

In [21]:
tup=(1726,'sam','saving','dadar mumbai',43100.50)
print(len(tup))

5

In [25]:
tup=('sooru','saving','dadar mumbai')
print(max(tup))
print(min(tup))

sooru
dadar mumbai

In [29]:
t = (1,2,9,0,-4)
print(max(t))
print(min(t))

print()

for i in t:
  print(i)

9
-4

1
2
9
0
-4

In [30]:
t=(5,1,2,4,2,7,3)
print(sorted(t))

[1, 2, 2, 3, 4, 5, 7]

In [31]:
t1=(1,2,3)
t2=(4,5,6)
t3=t1+t2
print(t3)

(1, 2, 3, 4, 5, 6)

**Storage comparison**

In [32]:
import sys

lst=[1,2,3,4,5]
tup=(1,2,3,4,5)

print(sys.getsizeof(lst))
print(sys.getsizeof(tup))

104
80

In [37]:
tup=('harsh','ishan','mike','will','ishan','ishan','ishan')
print(tup.count('ishan'))
print(tup.index('mike'))   # index no

4
2