In [2]:
numbers = range(5)
print(numbers)
print(type(numbers))

range(0, 5)
<class 'range'>

In [4]:
for i in range(6):
  print(i)

0
1
2
3
4
5

In [5]:
num = range(9,25,2)  # 2-> difference
for i in num:
  print(i)

9
11
13
15
17
19
21
23

In [7]:
import sys
big_range=range(1000000)
big_list=list(range(1000000))

print(sys.getsizeof(big_range))
print(sys.getsizeof(big_list))

48
8000056