In [3]:
student = {
    "studnm":"joe",
    "course":"python",
    "fees":1200,
    "mode":"Live online"
}
print(student)

{'studnm': 'joe', 'course': 'python', 'fees': 1200, 'mode': 'Live online'}

In [4]:
print(student["studnm"])

joe

In [5]:
print(student.get("mode"))

Live online

In [8]:
print(student.get("mobile"))

None

In [10]:
print(student.get("qualification","Not Available qualification"))

Not Available qualification

In [15]:
player = {
    "Rohit":"Mumbai indians",
    "Ishan":"Sunrises Hydrabad",
    "Hardik":{
        "team":"Mumbai Indians",
        "captain":"Mumbai_indians Captains"
    },
    "Virat":"Royals Benglore",
    "sahmi":"Rajsthan-Royals"
}

print(player["Hardik"]["captain"])

Mumbai_indians Captains

In [19]:
car = {
    "brand":"Ford",
    "model":"X5"
}

car["year"] = 2022   # year add
print(car)

{'brand': 'Ford', 'model': 'X5', 'year': 2022}

In [22]:
user = {
    "user_nm":"sam",
    "age":25
}

user["language"] = "python"      # add
print(user)

{'user_nm': 'sam', 'age': 25, 'language': 'python'}

In [23]:
user["age"] = 45   # age update
print(user)

{'user_nm': 'sam', 'age': 45, 'language': 'python'}

In [27]:
# Lopp through dictonary
student = {
    "name": "Rahul",
    "age":22,
    "city":"Delhi"
}
print(student)

for key,value in student.items():
  print(key,value)

{'name': 'Rahul', 'age': 22, 'city': 'Delhi'}
name Rahul
age 22
city Delhi
None

In [30]:
student = {
    "name": "John",
    "age": 25,
    "city": "Chicago"
}

print(student.get("name"))
print(student.get("age"))

print(student.get("john"))    # value se key never call , Wrong

John
25
None

In [31]:
cars = {
    "car1": {
        "brand": "Swift",
        "year": 2022,
        "company": "Maruti Suzuki"
    },
    "car2": {
        "brand": "i20",
        "year": 2023,
        "company": "Hyundai"
    },
    "car3": {
        "brand": "Fortuner",
        "year": 2021,
        "company": "Toyota"
    }
}

print(cars)

{'car1': {'brand': 'Swift', 'year': 2022, 'company': 'Maruti Suzuki'}, 'car2': {'brand': 'i20', 'year': 2023, 'company': 'Hyundai'}, 'car3': {'brand': 'Fortuner', 'year': 2021, 'company': 'Toyota'}}

In [32]:
for key in cars:
  print(cars.get(key))

{'brand': 'Swift', 'year': 2022, 'company': 'Maruti Suzuki'}
{'brand': 'i20', 'year': 2023, 'company': 'Hyundai'}
{'brand': 'Fortuner', 'year': 2021, 'company': 'Toyota'}

In [34]:
for key,value in cars.items():
  print(key,value)

car1 {'brand': 'Swift', 'year': 2022, 'company': 'Maruti Suzuki'}
car2 {'brand': 'i20', 'year': 2023, 'company': 'Hyundai'}
car3 {'brand': 'Fortuner', 'year': 2021, 'company': 'Toyota'}

In [41]:
cars = [
    {"brand": "Swift", "year": 2022, "company": "Maruti"},
    {"brand": "i20", "year": 2023, "company": "Hyundai"},
    {"brand": "Fortuner", "year": 2021, "company": "Toyota"}
]

for car in cars:
  print(car['brand'],car['year'])

Swift 2022
i20 2023
Fortuner 2021

In [46]:
cars = {
    "car1": "Swift",
    "car2": "i20",
    "car3": "Fortuner"
}

for car in cars.keys():
    print(car)        # key
    print(cars[car])  # value

car1
Swift
car2
i20
car3
Fortuner

In [47]:
cars = {
    "car1": "Swift",
    "car2": "i20",
    "car3": "Fortuner"
}

for value in cars.values():
  print(value)

Swift
i20
Fortuner

In [48]:
for key in cars.keys():
  print(key)

car1
car2
car3

In [49]:
for key, value in cars.items():
    print(key, value)

car1 Swift
car2 i20
car3 Fortuner