In [3]:
student = {
    'studentnm': "sam",
    'qualification':'mba',
    'course':'data science'
}

print(student)

{'studentnm': 'sam', 'qualification': 'mba', 'course': 'data science'}

In [4]:
print(student.keys())

dict_keys(['studentnm', 'qualification', 'course'])

In [5]:
print(student.values())

dict_values(['sam', 'mba', 'data science'])

In [6]:
for k in student.keys():  # print keys()
  print(k)

studentnm
qualification
course

In [7]:
for v in student.values():     # print values()
  print(v)

sam
mba
data science

In [8]:
print(student.items())    # print key+value pairs

dict_items([('studentnm', 'sam'), ('qualification', 'mba'), ('course', 'data science')])

In [9]:
for i in student.items():
  print(i)

('studentnm', 'sam')
('qualification', 'mba')
('course', 'data science')

**fromkeys()** - creates a new dictionary using the items of a list as keys and assigns the **same value to all those keys**.

Example meaning:
Items in the subjects list become the keys.
0 becomes the value for every key  

ex -
subjects = ['science','maths','english']

marks = dict.fromkeys(subjects, 0)

output -
marks = {
    'science': 0,
    'maths': 0,
    'english': 0
}

In [11]:
names = ['A','B','C']
data = dict.fromkeys(names,'Absent')

print(data)

{'A': 'Absent', 'B': 'Absent', 'C': 'Absent'}

In [13]:
cars = ['ford','tiber','bmw','tata']
price = dict.fromkeys(cars,80000)

print(price)

{'ford': 80000, 'tiber': 80000, 'bmw': 80000, 'tata': 80000}