In [1]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [2]:
lst = [x for x in range(1,11)]   # in list []
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
s = {x for x in range(1,11)}    # in set { }
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [8]:
s = [ x for x in range(1,20) if x%2==0]
print(s)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [9]:
sqodd={x:x*x for x in range(51,76) if x%2==1}
print(sqodd)

{51: 2601, 53: 2809, 55: 3025, 57: 3249, 59: 3481, 61: 3721, 63: 3969, 65: 4225, 67: 4489, 69: 4761, 71: 5041, 73: 5329, 75: 5625}

In [15]:
dic={'sam':'java',
     'sharayu':'spring',
     'megha':'machine learning'
}

for nm,tech in dic.items():                   # t => tab space
  print(f"name : {nm} \t Technology : {tech}")

name : sam 	 Technology : java
name : sharayu 	 Technology : spring
name : megha 	 Technology : machine learning

*What is enumerate()?*
---
enumerate() adds a counter (index) to an iterable and returns both index and value while looping.

In [16]:
emps = ['Jos Buttler','Pat Cummins','Joe Root','Steve Smith','Ben Stokes']

for index, value in enumerate(emps):
    print(f"{index} and {value}")

0 and Jos Buttler
1 and Pat Cummins
2 and Joe Root
3 and Steve Smith
4 and Ben Stokes

emps is a list of names.

enumerate(emps) gives 2 things in each loop:

index → position number

value → actual item from the list

In [17]:
for i in range(len(emps)):          # Without enumerate
    print(i, emps[i])

0 Jos Buttler
1 Pat Cummins
2 Joe Root
3 Steve Smith
4 Ben Stokes

In [18]:
for i, name in enumerate(emps):
    print(i, name)

0 Jos Buttler
1 Pat Cummins
2 Joe Root
3 Steve Smith
4 Ben Stokes

In [19]:
for i, name in enumerate(emps,start=1):  # index start from = 1
    print(i, name)

1 Jos Buttler
2 Pat Cummins
3 Joe Root
4 Steve Smith
5 Ben Stokes

enumerate() is used when you need both:

index

value

while looping through a list.