In [1]:
dic={101: 'Jos Buttler', 102: 'Pat Cummins', 103: 'Joe Root', 104: 'Steve Smith', 105: 'Ben Stokes'}
print(dic)

{101: 'Jos Buttler', 102: 'Pat Cummins', 103: 'Joe Root', 104: 'Steve Smith', 105: 'Ben Stokes'}

In [3]:
if 105 in dic:     # if 105 is present is then print dic[103]
  print(dic[103])           # 103: 'Joe Root'
else:
  print('key not found')

Joe Root

In [10]:
company={
    "IT":{
        "manager":"joe",
        "employees":["rishi","sneha","nupur","javed"]
    },
    "HR":{
        "manager":"sam",
        "employees":["megha","manali","rita"]
    }
}

In [11]:
print(company['IT'])

{'manager': 'joe', 'employees': ['rishi', 'sneha', 'nupur', 'javed']}

In [12]:
print(company['IT']['manager'])

joe

In [13]:
print(company['IT']['employees'])

['rishi', 'sneha', 'nupur', 'javed']

In [14]:
print(company["IT"]["employees"][0])   # on 0 index => rishi

rishi

In [16]:
for nm in company['IT']['employees']:
  print(nm.upper())

RISHI
SNEHA
NUPUR
JAVED

In [17]:
for nm in company['HR']['employees']:
  print(nm.capitalize())

Megha
Manali
Rita

In [19]:
for dept,details in company.items():
  count_emp = len(details['employees'])
  print(f'{dept} has {count_emp} employees')

IT has 4 employees
HR has 3 employees

In [20]:
count = len(company["HR"]["employees"])
print("HR employees:", count)

HR employees: 3