**Function is a reusable code with logic that i can use anywhere**

***SYNTAX***

def function_name():
   
    # code
    
###### def - define a function

In [1]:
# Welcome Function
def greet():
  print('Welcome to the python..')

In [2]:
greet()

Welcome to the python..

In [5]:
# Welcome with name
def greet(name) :
  print(f"welcome {name}")

In [9]:
greet('rohit')

welcome rohit

In [10]:
greet('sam')

welcome sam

In [11]:
# Calculate Square Function
def calculateSquare(n):
  sq = n*n
  print(f"square of {n} is {sq}" )

In [12]:
calculateSquare(6)

square of 6 is 36

In [13]:
calculateSquare(13)

square of 13 is 169

In [14]:
# Discount Function
def caldiscount(amount):
  if amount > 20000:
    discount = amount*13/100
  else:
    discount = amount*9/100

  return discount

In [16]:
caldiscount(15700)

1413.0

In [17]:
d = caldiscount(15700)
print(f'discount is {d} ')

discount is 1413.0

In [20]:
# Addition Function
def add(a,b):
  res = a + b
  print(f"sum is {res}")

In [23]:
add(2,6)
add(20,6)
add('liver','pool')

sum is 8
sum is 26
sum is liverpool

**Defalut value** - A default value is a value that a function uses automatically if no value is given when calling it.

In [25]:
def greet(name='Guest'):
  print('Hello',name)

greet('jon')   # give value
greet()     # uses default value

Hello jon
Hello Guest

In [31]:
def student(name,city='Mumbai', course='python'):
  print(name,city,course)

student('john','Nagpur','java')
student('sam','Goa')
student('sachin','React')

john Nagpur java
sam Goa python
sachin React python

In [32]:
# *names is used to take multiple values as input.
#  It collects all values into a tuple

def congrats(*names):
  print(names)
  for nm in names:
    print(f"congrats {nm}")

congrats('will','mike','max')

('will', 'mike', 'max')
congrats will
congrats mike
congrats max

What *args means

*args allows you to pass any number of values

All values get stored in a tuple

In [38]:
def total(*args):
  print(f'sum of values is: {sum(args)}')
  print(f'largest values is: {max(args)}')

In [40]:
total(2,3,4)
total(2,3,4,6,3,3)

sum of values is: 9
largest values is: 4
sum of values is: 21
largest values is: 6

What **kwargs means

**kwargs lets a function take any number of keyword arguments

**It stores them in a dictionary**

In [43]:
def display(**kwargs):
  for key, value in kwargs.items():
    print(f"key: {key}, value: {value}")

In [44]:
display(name="rocky", age=21, city="Nagpur")

key: name, value: rocky
key: age, value: 21
key: city, value: Nagpur

In [45]:
def display(**kwargs):
  for key, value in kwargs.items():
    print(f"{key} : {value}")

In [46]:
display(name="rocky", age=21, city="Nagpur")

name : rocky
age : 21
city : Nagpur

In [47]:
# Multiply all Numbers
def multiply(*nums):
  result = 1
  for n in nums:
    result *=n
  print('Multiplication: ', result)

In [48]:
multiply(2,3,4,5)   # 2*3*4 = 24    24*5 => 120

Multiplication:  120

In [51]:
# Find min
def small(*nums):
  print('smallest value: ', min(nums))

small(10,2,33,4,5)
small(10,2,-7)

smallest value:  2
smallest value:  -7

In [53]:
# Count values
def count_values(*data):
  print("Total values: ",len(data))

count_values(1,2,22,9)        # 4 values here

Total values:  4

In [54]:
def items(*food):
  print(f'food items {food}')

items('vadapav','pizza','kachori','coke','burger')

food items ('vadapav', 'pizza', 'kachori', 'coke', 'burger')

In [60]:
# order System
def order(*items, **details):
  print('Items orderd: ',items)
  print('customer info: ')

  for k,v in details.items():
    print(k ,':', v)

order("Pizza", "Burger",
      name="Prachi",
      city="Nagpur" ,
      Address="Trimurti Nagar",
      feedback = 'good'
      )

Items orderd:  ('Pizza', 'Burger')
customer info:
name : Prachi
city : Nagpur
Address : Trimurti Nagar
feedback : good