**A lambda function** in Python is a small, one-line anonymous function (a function without a name) used to do simple tasks quickly.

In [17]:
def calsquare(x):               # x**2 â†’ square power(2)
  sq = x **2                    # x**3 -> cube  power(3)
  return sq

In [18]:
calsquare(2)

4

In [19]:
# square
def sq(n):
  return n*n

print(sq(6))
res = sq(8)
print(res)

36
64

**lambda parameters:return value**

In [20]:
sq = lambda x:x**2

print('square is ', sq(7))

square is  49

In [21]:
add = lambda a,b:a+b

print(f'addition is {add(2,3)}')

addition is 5

QUE. Write a lambda to check if a number is even or odd.

In [22]:
# WITH LAMBDA
check_even_odd = lambda n: 'even' if n%2==0 else 'odd'

print(check_even_odd(3))

odd

In [23]:
def odd_even_check(x):         # WITHOUT LAMBDA
  if x%2==0:
    return ' even'
  else:
    return 'odd'

print(odd_even_check(8))

 even

In [25]:
max_num = lambda a,b: a if a > b else b

print(max_num(3, 8))

8

In [28]:
# double of the given number
double_num = lambda x: x*2
print(double_num(5))

10

In [30]:
# sub the given number by 2
sub_by_2_num = lambda x: x-2
print(sub_by_2_num(6))

4

In [31]:
# multiplication of x and y
mul_num = lambda x,y: x*y
print(mul_num(5,7))

35

In [38]:
# check positive or negative number
check_pos_neg = lambda x: 'positive' if x > 0 else ('neutral' if x ==0  else 'negative' )

print(check_pos_neg(0))
print(check_pos_neg(-7))
print(check_pos_neg(55))

neutral
negative
positive

In [40]:
# half of the given number
half = lambda x:x/2
print(half(4))

2.0

In [42]:
def adding(*args):        # using args
  return sum(args)

print(adding(2,3,1))

6

In [45]:
# convert it into  uppercase
upper_case_convert = lambda name:name.upper()

print(upper_case_convert('prachi'))
print(upper_case_convert('mike'))
print(upper_case_convert('max'))

PRACHI
MIKE
MAX

In [47]:
# length of the string
length_of_string = lambda nm:len(nm)

print(length_of_string('parchi'))
print(length_of_string('max'))
print(length_of_string('will'))

6
3
4

In [49]:
join_string = lambda x,y:x + " " + y

print(join_string('focus','academy'))

focus academy