Map - It will take all elements from the collection

In [1]:
numbers = [1,2,3,4,5]
sq = list(map(lambda x:x**2 ,numbers))
print(sq)

[1, 4, 9, 16, 25]

In [2]:
names=['england','germany','france','italy']
ucase = list(map(lambda nm:nm.upper(),names))
print(ucase)

['ENGLAND', 'GERMANY', 'FRANCE', 'ITALY']

In [3]:
len_of = list(map(lambda x:len(x),names))
print(len_of)

[7, 7, 6, 5]

**filter()** is a Python function that returns only those elements from a list (or iterable) that meet a given condition.

In [4]:
nums = [1,2,3,4,5]

even_nums = list(filter(lambda x:x%2==0,nums))
print(even_nums)

[2, 4]

In [5]:
names=['microsoft','volkswagen','bmw','skoda','oracle','openai','copilot','sohamglobal']
res=list(filter(lambda x:len(x)>8,names))
print(res)

['microsoft', 'volkswagen', 'sohamglobal']

**reduce(): Combines all elements of an iterable into one value using a function.**                                      

 it return 1 summary result

In [6]:
from functools import reduce

lst = [1,2,3,4,5]
sum = reduce(lambda x,y: x+y ,lst)
print(sum)

15

**Short explanation:**

**from functools import reduce** → imports the reduce() function.

**lst = [1,2,3,4,5]** → creates a list of numbers.

**reduce(lambda x, y: x + y, lst)** → adds numbers step by step.
(1+2=3, 3+3=6, 6+4=10, 10+5=15)

Result **(15) is stored in sum**.

print(sum) → prints 15.

In [7]:
from functools import reduce

lst = [1,2,3,4,5]
m = reduce(lambda x,y:x*y,lst)
print(m)

120

In [8]:
from functools import reduce
lst=[9,1,26,13,30,45,15,27]
maximum=reduce(lambda x,y: x if x>y else y,lst)
print(maximum)

45

In [9]:
str='you will never walk alone'
lst=str.split()
print(lst)

['you', 'will', 'never', 'walk', 'alone']

In [10]:
sortedlist=sorted(lst,key=lambda w:len(w))
print(sortedlist)

['you', 'will', 'walk', 'never', 'alone']